/* Começamos criando uma classe chamada .container para o elemento que será o contêiner principal do flexbox. */

.container { /* Esse elemento será o contêiner principal do flexbox. */

}

/* ----------------------------------------------------------------------------------------------------------- */

.container {
    display: flex; /* A propriedade display: flex é aplicada ao .container para ativarmos o flexbox no elemento */
}

/* ----------------------------------------------------------------------------------------------------------- */

.flex-direction {
    display: flex; 
    flex-direction: row;  /* define a direção principal do fluxo dos itens como horizontal. */
}

/* ----------------------------------------------------------------------------------------------------------- */

.flex-direction {
    display: flex;
    flex-direction: row;
    justify-content: center;  /* Alinha os itens horizontalmente dentro do contêiner. */
}

/* ----------------------------------------------------------------------------------------------------------- */

.flex-direction {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; /* Alinha os itens verticalmente dentro do contêiner. */
}

/* ----------------------------------------------------------------------------------------------------------- */

.item {  /* para cada item dentro do contêiner flex. */
    flex: 1 /*  Neste caso, todos os itens terão o mesmo tamanho. */
}